/* -- FONTS -- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* -- VARIABLES -- */
:root {
  --content-max-width: 900px;

  --background-color: #f3f3f3;
}

/* -- LAYOUT -- */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(161, 0, 62);
}

main, 
header {
  width: var(--content-max-width);
  margin: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-top: 10px;
}

.column-span {
  grid-column: 1 / span 2;
}

@media screen and (max-width: 900px) {
  main,
  header {
    width: 100%;
    margin: 0px;
  }
  main {
    grid-template-columns: 1fr;
  }

  .column-span {
    grid-column: 1;
  }
}

h3 > i {
  margin-left: 10px;
}


/* -- ELEMENTS -- */
.card {
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card.no-padding {
  padding: 0px;
}

.menu {
  width: auto;
  display: block;
}

.menu > a:not(:first-child) {
  border-left: 1px solid rgb(182, 182, 182);
  padding-left: 10px;
  margin-left: 10px;
}

.canvas {
  width: 100%;
  height: 400px;
}

.drawing-area {
  position: relative;
}

.drawing-controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.control-icon {
  display: inline-block;
}

.color-picker {
  cursor: pointer;
  margin-left: 2px;
  height: 15px;
  width: 15px;
}

.invert-color {
  bottom: 30px;
  left: 30px;
  position: sticky;
  cursor: pointer;
}

.slideshow-container {
  position: relative;
}

.slideshow-container > .slideshow {
  width: 100%;
}

.slideshow-container > .slideshow-control {
  height: 110px;
  margin-top: -55px;
  width: 60px;
  background-color: #ffffff47;
  position: absolute;
  top: 50%;
  font-size: 5em;
  color: #e8e8e8;
  cursor: pointer;
}

.slideshow-container > .slideshow-control.slideshow-control-forward {
  right: 10px;
}

.slideshow-container > .slideshow-control.slideshow-control-forward > i {
  margin-left: 10px;
}

.slideshow-container > .slideshow-control.slideshow-control-back {
  left: 10px;
}

.input-container > span {
  display: inline-block;
  width: 150px;
}

.input-container {
  position: relative;
  text-align: center;
  width: 100%;
}

.input-container > .icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 42px;
  background-color: rgb(161, 0, 62);;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.input-container > .icon > i {
  font-size: 20px;
  color: white;
  margin-top: 11px;
}

.input-container input,
.button {
  display: inline-block;
  font-size: 1em;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 0px;
  box-shadow: 0px 0px 5px 0px rgba(120,120,120,0.5);
}


.input-container input {
  padding-left: 60px;
  width: 80%;
}

.button {
  cursor: pointer;
  border: 1px solid #a3303f;
  background-color: #a3303fc2;
  color: white;
}

.button:hover {
  background-color: #a3303f;
}


